extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptatem alias harum. Modi, quis expedita magni quam corporis fugit ad. Suscipit voluptate eveniet mollitia dolore rem, cum laudantium dolor sit in, ex at tempora culpa voluptas adipisci ipsam nostrum corrupti reprehenderit.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptas, obcaecati tempora numquam nobis, esse optio suscipit vel iusto tenetur neque facilis laboriosam et sequi dolor ullam pariatur unde, maxime illum commodi laborum? Quia magnam voluptas itaque soluta natus repellendus.

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum beatae saepe animi ad libero, doloremque corrupti! Consequatur ullam placeat quisquam cumque cum quasi velit culpa natus quos! Doloribus a ducimus, voluptatibus recusandae architecto quisquam similique repellendus sit illo delectus illum.

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Seguridad" class="img-fluid mb4")
                    h2.mb-4 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium! Saepe cum molestiae consequuntur, temporibus sapiente aspernatur ratione aperiam aliquid ipsum recusandae incidunt eum voluptate reiciendis vitae similique hic harum? 
                    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Destinos" class="img-fluid mb4")
                    h2.mb-4 Mejores Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium! Saepe cum molestiae consequuntur, temporibus sapiente aspernatur ratione aperiam aliquid ipsum recusandae incidunt eum voluptate reiciendis vitae similique hic harum? 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Precios" class="img-fluid mb4")
                    h2.mb-4 Mejores Precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, accusantium! Saepe cum molestiae consequuntur, temporibus sapiente aspernatur ratione aperiam aliquid ipsum recusandae incidunt eum voluptate reiciendis vitae similique hic harum? 